.category__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 26px;
    & h1 {
        font-size: 28px;
        font-weight: 600;
        text-align: left;
        max-width: 100px;
    }
    &__img {
        width: 35%;
        object-fit: cover;
    }
}

.category__list {
    padding: 0 10px;
    row-gap: 10px;
}