.close_btn_mist {
  height: 40px;
  background: none;
  cursor: pointer;
  color: #272421;
  font-size: 16px;
  font-weight: $weight_medium;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  & svg {
    margin-right: 10px;
    & path {
      fill: #272421;
    }
  }
}

.preview_item_information_mist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  & .preview_item_description,
  & .preview_item_ingredient {
    height: 100%;
    width: 50%;
    flex: 1;
    padding: 26px 26px;
    max-width: 400px;
  }
  & .preview_item_ingredient {
    & h2,
    p {
      text-align: right;
    }
  }
  & h2 {
    font-size: clamp(16px, 2.2rem, 18px);
    font-family: $rivalSans;
    font-weight: $weight_bold;
    text-transform: uppercase;
  }
  & p {
    font-size: clamp(14px, 1.8rem, 16px);
    font-family: $rivalSans;
    font-weight: $weight_regular;
    color: #272421;
    margin-top: 4px;
  }
}

.overlay_inner_mist {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fffaec;
}
