$safe_area_inset_top: env(safe-area-inset-top);

// Fonts //

$newKansas: "new-kansas", sans-serif;
$rivalSans: "rival-sans", sans-serif;
$weight_regular: 400;
$weight_medium: 500;
$weight_bold: 700;
