header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  z-index: 10;
  padding: 16px 26px;
  transition: top 0.3s ease-in-out;
  background-color: #fffaec;
  & svg {
    height: clamp(36px, 5rem, 44px);
    @media screen and (max-width: 576px) {
      height: 35px;
    }
  }
  @media screen and (min-width: 576px) {
    padding: 16px 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 16px 42px;
  }
  @media screen and (min-width: 992px) {
    padding: 20px 52px;
  }
  @media screen and (min-width: 1224px) {
    padding: 20px 62px;
  }
}

.burger {
  position: relative;
  height: 30px;
  width: 30px;
  background: none;
  z-index: 9999;
  right: 0;
  cursor: pointer;
  & .bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    transition: transform 1s ease;
    border-radius: 10px;
    background-color: #222;
    &:nth-child(1) {
      transform: translate3d(0, -5px, 0);
    }
    &:nth-child(2) {
      transform: translate3d(0, 5px, 0);
    }
  }

  &.active {
    & .bar:nth-child(1) {
      transform: translate3d(0, 0, 0) rotate(-315deg);
    }

    & .bar:nth-child(2) {
      transform: translate3d(0, 0, 0) rotate(-225deg);
    }
  }
}
